# ❌ سورس‌کد
src/
vite.config.*
rollup.config.*
tsconfig.json
tsconfig.*.json

# ❌ ابزارهای dev
*.tsbuildinfo
.eslint*
.prettier*
*.log

# ❌ تست‌ها
tests/
*.test.ts
*.test.tsx
coverage/

# ❌ فایل‌های مربوط به گیت
.git
.gitignore

# ❌ وابستگی‌ها (تکراری هستن، نباید منتشر بشن)
node_modules/

# ❌ فایل‌های سیستم
.DS_Store
Thumbs.db
