/* ==================== SWITCH CONTROL ==================== */

.range .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}
.range .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.range .switch:disabled + .slider {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
.range .switch:disabled + .slider::before {
  background-color: #bdbdbd;
}
.range .switch input:checked + .slider {
  background-color: #000;
}
.range .switch input:checked + .slider::before {
  transform: translateX(22px);
}
.range .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.4s ease-in-out;
  border-radius: 34px;
}
.range .slider::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: #fff;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;
  border-radius: 50%;
}

/* ==================== BUTTONS & INPUTS ==================== */
.range button,
.range [role="button"],
.range select {
  text-transform: none;
  cursor: pointer;
}
.range button,
.range input[type="button"],
.range input[type="reset"],
.range input[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
.range button {
  background: none;
  border: none;
}
.range input {
  outline: none;
  box-shadow: none;
  border: none;
}
.range input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

/* ==================== BACKGROUND COLORS ==================== */
.range .bg-red-100 {
  background-color: #fee2e2;
}
.range .bg-red-400 {
  background-color: #f87171;
}
.range .bg-blue-100 {
  background-color: #dbeafe;
}
.range .bg-blue-600 {
  background-color: #2563eb;
}
.range .bg-gray-5 {
  background-color: rgba(146, 146, 146, 0.226);
}
.range .bg-gray-300 {
  background-color: #d1d5db;
}
.range .bg-gray-gray3 {
  background-color: #f4f4f4;
}
.range .bg-gray-gray6 {
  background-color: #cecece;
}
.range .bg-gray-gray15 {
  background-color: #f9f9f9;
}
.range .bg-green-100 {
  background-color: #d1fae5;
}
.range .bg-white {
  background-color: #ffffff;
}
.range .bg-main-black {
  background-color: #0e0e0e;
}
.range .\!bg-gray-gray8 {
  background-color: #939393 !important;
}
.range .\!bg-gray-gray9 {
  background-color: #767676 !important;
}
.range .\!bg-gray-gray10 {
  background-color: #585858 !important;
}
.range .hover\:bg-main-white:hover {
  background-color: #ffffff;
}
.range .hover\:\!bg-gray-gray9:hover {
  background-color: #767676 !important;
}
.range .\*\:before\:\!bg-main-black > *::before {
  background-color: #0e0e0e !important;
}
.range .\*\:before\:\!bg-gray-gray6 > *::before {
  background-color: #cecece !important;
}

/* ==================== BORDERS ==================== */
.range .border {
  border: 1px solid #e5e7eb;
}
.range .border-none {
  border: none;
}
.range .border-b {
  border-bottom: 1px solid #e5e7eb;
}
.range .border-b-2 {
  border-bottom-width: 2px;
}
.range .border-r-4 {
  border-right-width: 4px;
}
.range .border-gray-300 {
  border-color: rgb(209, 213, 219);
}
.range .border-state-error1 {
  border-color: #dc3545;
}
.range .border-gray-gray6 {
  border-color: #cecece;
}
.range .border-gray-gray8 {
  border-color: #939393;
}
.range .border-blue-500 {
  border-color: #3b82f6;
}
.range .\!border {
  border: 1px solid #eee !important;
}
.range .\!border-2 {
  border-width: 2px !important;
}
.range .\!border-red-400 {
  border-color: #f87171 !important;
}
.range .border-red-700 {
  border-color: #d32f2f !important;
}
.range .hover\:border-main-black:hover {
  border-color: #0e0e0e;
}

/* ==================== SHADOWS ==================== */
.range .shadow {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.range .shadow-md {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.range .shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.range .\*\:\!shadow-none > * {
  box-shadow: none !important;
}

/* ==================== POSITIONING ==================== */
.range .absolute {
  position: absolute;
}
.range .relative {
  position: relative;
}
.range .fixed {
  position: fixed;
}
.range .sticky {
  position: sticky;
}
.range .inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.range .top-0 {
  top: 0;
}
.range .right-0 {
  right: 0;
}
.range .bottom-0 {
  bottom: 0;
}
.range .left-0 {
  left: 0;
}
.range .top-16 {
  top: 4rem;
}
.range .right-5 {
  right: 1.25rem;
}
.range .left-5 {
  left: 1.25rem;
}
.range .bottom-16 {
  bottom: 4rem;
}
.range .top-\[50\%\] {
  top: 50%;
}

/* ==================== TYPOGRAPHY ==================== */
.range .text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.range .text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.range .text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.range .text-lg {
  font-size: 1.5rem;
  line-height: 2rem;
}
.range .\!text-\[14px\] {
  font-size: 14px !important;
}

.range .font-normal {
  font-weight: 400;
}
.range .font-medium {
  font-weight: 500;
}
.range .font-bold {
  font-weight: 700;
}
.range .font-extrabold {
  font-weight: 800;
}

.range .text-gray-gray7 {
  color: #b1b1b1;
}
.range .text-gray-gray8 {
  color: #939393;
}
.range .text-gray-gray9 {
  color: #767676;
}
.range .text-gray-gray10 {
  color: #585858;
}
.range .text-gray-500 {
  color: #6b7280;
}
.range .text-blue-blue2 {
  color: #9cc5f1;
}
.range .text-blue-blue5 {
  color: #086edc;
}
.range .text-blue-600 {
  color: #2563eb;
}
.range .text-main-white {
  color: #ffffff;
}
.range .\!text-black-black3 {
  color: #6e6e6e !important;
}
.range .\!text-white {
  color: #ffffff !important;
}
.range .\!text-main-white {
  color: #ffffff !important;
}
.range .hover\:text-gray-700:hover {
  color: #374151;
}
.range .hover\:\!text-main-white:hover {
  color: #ffffff !important;
}

.range .text-center {
  text-align: center;
}
.range .text-right {
  text-align: right;
}
.range .text-nowrap {
  text-wrap: nowrap;
}
.range .whitespace-nowrap {
  white-space: nowrap;
}
.range .text-ellipsis {
  text-overflow: ellipsis;
}

/* ==================== DIMENSIONS ==================== */
/* Width */
.range .w-6 {
  width: 1.5rem;
}
.range .w-8 {
  width: 2rem;
}
.range .w-20 {
  width: 5rem;
}
.range .w-28 {
  width: 7rem;
}
.range .w-40 {
  width: 10rem;
}
.range .w-53 {
  width: 212px;
}
.range .w-56 {
  width: 14rem;
}
.range .w-72 {
  width: 18rem;
}
.range .w-full {
  width: 100%;
}
.range .w-fit {
  width: fit-content;
}
.range .w-px {
  width: 1px;
}
.range .w-\[25px\] {
  width: 25px;
}
.range .w-\[80px\] {
  width: 80px;
}
.range .w-\[460px\] {
  width: 460px;
}
.range .w-\[472px\] {
  width: 472px;
}
.range .w-\[clamp\(24px\,24px\,30px\)\] {
  width: 24px;
}
.range .max-w-\[430px\] {
  max-width: 430px;
}
.range .\!min-w-6 {
  min-width: 1.5rem !important;
}
.range .\!min-w-48 {
  min-width: 12rem !important;
}

/* Height */
.range .h-6 {
  height: 1.5rem;
}
.range .h-8 {
  height: 2rem;
}
.range .h-9 {
  height: 2.25rem;
}
.range .h-10 {
  height: 2.5rem;
}
.range .h-14 {
  height: 3.5rem;
}
.range .h-80 {
  height: 20rem;
}
.range .h-full {
  height: 100%;
}
.range .h-fit {
  height: fit-content;
}
.range .h-5\/6 {
  height: 83.333333%;
}
.range .h-\[25px\] {
  height: 25px;
}
.range .h-\[230px\] {
  height: 230px;
}
.range .h-\[450px\] {
  height: 450px;
}
.range .h-\[460px\] {
  height: 460px;
}
.range .h-\[495px\] {
  height: 495px;
}
.range .\!h-6 {
  height: 1.5rem !important;
}
.range .\!h-8 {
  height: 2rem !important;
}
.range .\!h-\[calc\(100\%-52px\)\] {
  height: calc(100% - 52px) !important;
}
.range .h-\[calc\(100dvh-8\.8rem\)\] {
  height: calc(100dvh - 8.8rem);
}
.range .h-\[calc\(100dvh-180px\)\] {
  height: calc(100dvh - 180px);
}
.range .h-\[calc\(100dvh-220px\)\] {
  height: calc(100dvh - 220px);
}
.range .max-h-36 {
  max-height: 9rem;
}
.range .max-h-\[calc\(100\%-50px\)\] {
  max-height: calc(100% - 50px);
}
.range .min-h-8 {
  min-height: 2rem;
}
.range .defaultMaskDimension {
  width: 112px;
  height: 36px !important;
}

/* ==================== SPACING ==================== */
/* Margin */
.range .m-0 {
  margin: 0;
}
.range .mt-0 {
  margin-top: 0;
}
.range .mb-0 {
  margin-bottom: 0;
}
.range .mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.range .mt-2 {
  margin-top: 0.5rem;
}
.range .mb-2 {
  margin-bottom: 0.5rem;
}
.range .mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.range .mt-4 {
  margin-top: 1rem;
}
.range .mb-4 {
  margin-bottom: 1rem;
}
.range .mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.range .mt-10 {
  margin-top: 2.5rem;
}
.range .mb-10 {
  margin-bottom: 2.5rem;
}
.range .mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.range .mt-16 {
  margin-top: 4rem;
}
.range .mb-16 {
  margin-bottom: 4rem;
}
.range .mx-16 {
  margin-left: 4rem;
  margin-right: 4rem;
}
.range .mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.range .my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/* Padding */
.range .p-0 {
  padding: 0;
}
.range .p-1 {
  padding: 0.25rem;
}
.range .p-2 {
  padding: 0.5rem;
}
.range .p-3 {
  padding: 0.75rem;
}
.range .p-4 {
  padding: 1rem;
}
.range .p-5 {
  padding: 1.25rem;
}
.range .px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.range .px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.range .px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.range .py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.range .py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.range .padding-x-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.range .padding-x-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.range .padding-x-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.range .padding-x-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.range .padding-y-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.range .padding-y-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.range .padding-t-2 {
  padding-top: 0.5rem;
}
.range .padding-t-4 {
  padding-top: 1rem;
}
.range .padding-t-5 {
  padding-top: 1.25rem;
}
.range .padding-b-2 {
  padding-bottom: 0.5rem;
}
.range .padding-b-5 {
  padding-bottom: 1.25rem;
}
.range .padding-r-0 {
  padding-right: 0;
}

/* Gap */
.range .gap-1 {
  gap: 0.25rem;
}
.range .gap-2 {
  gap: 0.5rem;
}
.range .gap-3 {
  gap: 0.75rem;
}
.range .gap-4 {
  gap: 1rem;
}
.range .gap-6 {
  gap: 1.5rem;
}
.range .gap-9 {
  gap: 2.25rem;
}
.range .gap-x-2 {
  column-gap: 0.5rem;
}
.range .gap-y-1 {
  row-gap: 0.25rem;
}
.range .gap-y-2 {
  row-gap: 0.5rem;
}
.range .gap-y-5 {
  row-gap: 1.25rem;
}

/* ==================== FLEX/GRID LAYOUT ==================== */
.range .flex {
  display: flex;
}
.range .grid {
  display: grid;
}
.range .hidden {
  display: none;
}
.range .block {
  display: block;
}
.range .inline-block {
  display: inline-block;
}

.range .flex-col {
  flex-direction: column;
}
.range .flex-row-reverse {
  flex-direction: row-reverse;
}
.range .flex-wrap {
  flex-wrap: wrap;
}
.range .flex-shrink-0 {
  flex-shrink: 0;
}
.range .flex-grow {
  flex-grow: 1;
}

.range .items-center {
  align-items: center;
}
.range .items-start {
  align-items: flex-start;
}
.range .align-base {
  align-items: baseline;
}

.range .justify-center {
  justify-content: center;
}
.range .justify-between {
  justify-content: space-between;
}
.range .justify-around {
  justify-content: space-around;
}
.range .justify-evenly {
  justify-content: space-evenly;
}
.range .justify-end {
  justify-content: flex-end;
}

.range .grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.range .grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.range .\!grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
}
.range .grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.range .col-span-1 {
  grid-column: span 1 / span 1;
}
.range .\!grid-flow-row {
  grid-auto-flow: row !important;
}

/* ==================== BORDER RADIUS ==================== */
.range .rounded {
  border-radius: 0.25rem;
}
.range .rounded-md {
  border-radius: 0.375rem;
}
.range .\!rounded-md {
  border-radius: 0.375rem !important;
}
.range .rounded-lg {
  border-radius: 0.5rem;
}
.range .rounded-2xl {
  border-radius: 1rem;
}

/* ==================== EFFECTS ==================== */
.range .overflow-hidden {
  overflow: hidden;
}
.range .overflow-y-auto {
  overflow-y: auto;
}
.range .overflow-x-auto {
  overflow-x: auto;
}
.range .overflow-x-hidden {
  overflow-x: hidden;
}

.range .cursor-pointer {
  cursor: pointer;
}
.range .pointer-events-none {
  pointer-events: none;
}
.range .select-none {
  user-select: none;
}

.range .z-10 {
  z-index: 10;
}
.range .z-20 {
  z-index: 20;
}
.range .z-50 {
  z-index: 50;
}
.range .-z-10 {
  z-index: -10;
}

.range .opacity-0 {
  opacity: 0;
}
.range .opacity-50 {
  opacity: 0.5;
}

.range .transition {
  transition: all 150ms ease-in-out;
}
.range .\[perspective\:1000px\] {
  perspective: 1000px;
}
.range .aspect-square {
  aspect-ratio: 1/1;
}
.range .aspect-video {
  aspect-ratio: 16/9;
}
.range .collapse {
  visibility: collapse;
}
.range .dir-rtl {
  direction: rtl;
}

/* ==================== SCROLLBAR ==================== */
.range *::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}
.range *::-webkit-scrollbar-track {
  background-color: #ecedf2 !important;
  border-radius: 10px !important;
}
.range *::-webkit-scrollbar-thumb {
  background: #d9d9d9 !important;
  border-radius: 10px !important;
}

/* ==================== MISC ==================== */

.range .selected-text {
  background-color: #3390ff;
  color: #ffffff;
  line-height: 0;
}
.range .dateButton:hover {
  background-color: #f3f3f3;
  color: #ffffff;
}
.range .same-font {
  font-family: Arial, Helvetica, sans-serif;
}
.range .font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
.range .border-b-2 {
  border-bottom: 2px solid;
}

/* ==================== MEDIA QUERIES ==================== */
@media (min-width: 431px) {
  .range .xs\:w-28 {
    width: 112px;
  }
  .range .xs\:w-40 {
    width: 160px;
  }

  .range .xs\:w-fit {
    width: fit-content;
  }

  .range .\!border-b {
    border-bottom: 1px solid #eee !important;
  }
  .range .max-w-430px {
    max-width: 430px;
  }
  .range .overflow-x-auto {
    overflow-x: auto;
  }
  .range .border-b-2 {
    border-bottom: 2px solid !important;
  }

  .range .xs\:\!h-\[calc\(100\%-52px\)\] {
    height: calc(100% - 52px) !important;
  }
  .range .xs\:h-full {
    height: 100%;
  }
  .range .xs\:max-w-\[210px\] {
    max-width: 210px;
  }
  .range .xs\:max-w-\[220px\] {
    max-width: 220px;
  }
  .range .xs\:gap-3 {
    gap: 0.75rem;
  }
  .range .xs\:justify-start {
    justify-content: flex-start;
  }
  .range .xs\:border {
    border: 1px solid #e5e7eb;
  }
  .range .xs\:border-none {
    border: none !important;
  }
  .range .xs\:flex-col {
    flex-flow: column;
  }
  .range .xs\:flex-row {
    flex-flow: row;
  }
  .range .xs\:border-l {
    border-left: 1px solid #e5e7eb;
  }
  .range .xs\:border-r {
    border-right: 1px solid #e5e7eb;
  }
  .range .xs\:border-l-2 {
    border-bottom-width: 0 !important;
    border-left: 2px solid #175ce7;
  }
  .range .xs\:border-r-2 {
    border-bottom-width: 0 !important;
    border-right: 2px solid #175ce7;
  }

  .range .xs\:border-b-2 {
    border-bottom: 2px solid #175ce7;
  }
  .range .xs\:border-b {
    border-bottom: 1px solid #e5e7eb;
  }

  .range .xs\:overflow-y-auto {
    overflow-y: auto;
  }
  .range .xs\:\!flex-row {
    flex-direction: row !important;
  }
  .range .xs\:block {
    display: block;
  }
  .range .xs\:\!border-r {
    border-right-width: 1px !important;
  }
  .range .xs\:\!border-l {
    border-left: 1px solid #e5e7eb !important;
  }
  .range .xs\:w-64 {
    width: 16rem;
  }
  .range .xs\:w-60 {
    max-width: 240px;
  }
  .range .xs-gap-3 {
    gap: 0.75rem;
  }
}

/* ==================== GLOBAL ==================== */
.range *,
.range *::before,
.range *::after {
  box-sizing: border-box;
}
.range .w-500 {
  width: 500px;
}

.range .gap-2 {
  gap: 8px;
}

.range .pointer-events-auto {
  pointer-events: auto;
}
.range .opacity-100 {
  opacity: 1;
}
.range .text-gray123 {
  background-color: #939393;
  color: #fff !important;
}
/* /////////// Landing page style ////////// */
* {
  margin: 0;
}
.boxsRender {
  margin-top: 14rem;
  background-color: red;
}
.lanButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  background: linear-gradient(135deg, #4a5bbd, #1d1f30);
  border-radius: 0.25rem;
  box-shadow: 0 4px 12px rgba(67, 77, 138, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  width: 50px;
  height: 50px;
}
.buttonStyle {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  color: #ffffff;
  background: #1d1f30;
  border-radius: 0.25rem;
  box-shadow: 0 4px 12px rgba(113, 131, 233, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonStyle:hover {
  transform: translateY(-2px);
}

.buttonStyle:active {
  transform: translateY(0);
}

.buttonStyle.active {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  box-shadow: 0 6px 16px rgba(255, 126, 95, 0.4);
}
.persianRangeHeader {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0; */
  background-color: #d3d3d3;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.flex {
  display: flex;
}
.justify-around {
  justify-content: space-around;
}
.items-center {
  align-items: center;
}
.sectionContent {
  padding: 2rem;
  background-color: white;
  margin: 1rem auto;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 50vh;
}
.titleDescStyle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.displayCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1d1f30;
  font-size: 1.25rem;
  font-weight: bold;
  height: 40px;
  color: #fff;
  align-items: center;
}
@media (min-width: 431px) {
  .displayCard {
    flex-direction: row;
  }
}
